@model SysPatrimonio.Models.DbPatrimonio

@{
    ViewData["Title"] = "Create";
}

<div class="row justify-content-center">
    <div class="col-12">
        <div class="card">
            <div class="card-header">Adicionar Patrimonio</div>

            <div class="card-body">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class=" row mb-3">
                        <div class="col-4">
                            <label asp-for="numetiqueta" class="control-label">Etiqueta</label>
                            <input asp-for="numetiqueta" class="form-control" />
                            <span asp-validation-for="numetiqueta" class="text-danger"></span>
                        </div>
                        <div class="col-4">
                            <label asp-for="nomepatrimonio" class="control-label">Nome</label>
                            <input asp-for="nomepatrimonio" class="form-control" />
                            <span asp-validation-for="nomepatrimonio" class="text-danger"></span>
                        </div>
                         <div class="col-4">
                            <label asp-for="descricaopatrimonio" class="control-label">Descrição</label>
                            <input asp-for="descricaopatrimonio" class="form-control" />
                            <span asp-validation-for="descricaopatrimonio" class="text-danger"></span>
                        </div>
                    </div>
                     <div class=" row mb-3">
                        <div class="col-3">
                           <label asp-for="valorpatrimonio" class="control-label">Valor</label>
                            <input asp-for="valorpatrimonio" class="form-control" />
                            <span asp-validation-for="valorpatrimonio" class="text-danger"></span>
                        </div>
                        <div class="col-3">
                            <label asp-for="marcamodelo" class="control-label">Marca/Modelo</label>
                            <input asp-for="marcamodelo" class="form-control" />
                            <span asp-validation-for="marcamodelo" class="text-danger"></span>
                        </div>
                         <div class="col-3">
                            <label asp-for="dataaquisicao" class="control-label">Data de Aquisição</label>
                            <input asp-for="dataaquisicao" class="form-control" />
                            <span asp-validation-for="dataaquisicao" class="text-danger"></span>
                        </div>
                        <div class="col-3">
                            <label asp-for="databaixa" class="control-label">Data de Baixa</label>
                            <input asp-for="databaixa" class="form-control" />
                            <span asp-validation-for="databaixa" class="text-danger"></span>
                        </div>
                    </div>
                     <div class=" row mb-3">
                        <div class="col-4">
                            <label asp-for="numnf" class="control-label">Número NF</label>
                            <input asp-for="numnf" class="form-control" />
                            <span asp-validation-for="numnf" class="text-danger"></span>
                        </div>
                        <div class="col-4">
                            <label asp-for="numserie" class="control-label">Número de Série</label>
                            <input asp-for="numserie" class="form-control" />
                            <span asp-validation-for="numserie" class="text-danger"></span>
                        </div>
                         <div class="col-4">
                            <label asp-for="situacao" class="control-label">Situação</label>
                            <input asp-for="situacao" class="form-control" />
                            <span asp-validation-for="situacao" class="text-danger"></span>
                        </div>
                    </div>
                     <div class=" row mb-3">
                        <div class="col-3">
                            <label>Categoria</label>
                            <select asp-items=@ViewBag.Categoria asp-for="idcategoria" class="form-control" ></select>
                        </div>
                        <div class="col-3">
                            <label>Local</label>
                            <select asp-items=@ViewBag.Local asp-for="idlocal" class="form-control" ></select>
                        </div>
                         <div class="col-3">
                             <label>Departamento</label>
                             <select asp-items=@ViewBag.Departamento asp-for="iddepartamento" class="form-control" ></select>
                        </div>
                        <div class="col-3">
                            <label>Fornecedor</label>
                            <select asp-items=@ViewBag.Fornecedor asp-for="idfornecedor" class="form-control" ></select>
                        </div>
                    </div>
                <div class="card-footer" style="text-align:right;">
                   <div class="form-group">
                        <a asp-action="Index" class=" btn btn-warning">Voltar</a>
                        <input type="submit" value="Criar" class="btn btn-primary"  />
                   </div>
                </div>
            </form> 
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
