@model SysPatrimonio.Models.DbFornecedor

@{
    ViewData["Title"] = "Edit";
}

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="site.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</style>

</head>
<body>
    <div class="container">
		<div class="table-responsive" >
			<div class="table-wrapper" >
				<div class="table-title">
					<div class="row">
						<div class="col-xs-6">
							<h2>Editar fornecedor @Html.DisplayFor(model => model.nomefornecedor)</h2>
						</div>
					</div>
				</div>
				<table class="table table-striped table-hover">
                        <tr>
                         <form asp-action="Edit">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="id" />
                                <div class="form-group col-4">
                                    <label asp-for="nomefornecedor" class="control-label">Nome</label>
                                    <input asp-for="nomefornecedor" class="form-control" />
                                    <span asp-validation-for="nomefornecedor" class="text-danger"></span>
                                </div>
                                <div class="form-group col-4">
                                    <label asp-for="endereco" class="control-label">Endereço</label>
                                    <input asp-for="endereco" class="form-control" />
                                    <span asp-validation-for="endereco" class="text-danger"></span>
                                </div>
                                <div class="form-group col-4">
                                    <label asp-for="fone" class="control-label">Telefone</label>
                                    <input asp-for="fone" class="form-control" />
                                    <span asp-validation-for="fone" class="text-danger"></span>
                                </div>
                            <div class="form-group " style="margin-top: 10px; text-align:right; width:33%;">
                                <a asp-action="Index" class=" btn btn-warning">Voltar</a>
                                 <input type="submit" value="Salvar" class="btn btn-primary" />
                            </div>
                        </form>
                    </tr>
		         </table>  
			</div>
		</div>        
    </div>
</body>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
